body{
	text-align: center;
	background-image: url(../images/background.jpg);
}


#start:hover{
	border: solid;
}

#resetbutton:hover{
	border: solid;
}

.choices:hover{
	background-color: brown;
	border:solid;
}

.main{
	margin:0 auto;
}

#start{
	position:relative;
	font-size:50px;
	top:450px;
	color:white;
	background-color: brown;
}

#question{
	font-size: 50px;
	color:white;
}

#choices{
	font-size:40px;
	color:maroon;
	font-weight:bolder;
}

#time{
	font-size:60px;
	color:white;
	background-color: brown;
	width:120px;
	margin:0 auto;

}

#rights{
	font-size:60px;
	color:white;
	background-color: brown;

}

#wrongs{
	font-size:60px;
	color:white;
	background-color: brown;

}

#unanswered{
	font-size:60px;
	color:white;
	background-color: brown;
}


#resetbutton{
	font-size:50px;
	color:white;
	background-color: brown;
}
